@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
select {
    @apply border border-purple-200 rounded-sm px-4 w-full mb-2 py-1;
}

input:focus,
textarea:focus,
select:focus {
    @apply border-purple-900;
}

img {
    max-height: 100%;
}

h1 {
    @apply text-gray-800 mb-3 text-xl;
}

h2 {
    @apply text-gray-800 mt-6 mb-2 text-lg;
}

label {
    @apply text-purple-900 text-sm;
}

.create-new-btn {
    @apply bg-white text-purple-900 px-4 py-1 rounded-md shadow-sm border border-purple-400;
}

table.basict {
    @apply w-full mt-3 shadow-md bg-purple-50;
}

table.basict thead tr td,
table.basict thead tr th {
    @apply bg-purple-300 px-4 py-2;
}

table.basict tr td {
    @apply border px-4 py-1;
}

table.basict a {
    @apply inline-flex gap-1 text-sm py-1 px-2 mr-2 rounded-md;
}

.btn-default,
.btn-red {
    @apply px-4 py-1 rounded-md border border border-purple-400 shadow-sm;
}

.btn-red {
    @apply bg-red-200 text-red-600;
}

.btn-default {
    @apply bg-gray-200;
}